<div class="container">
    <h1 class="page-title">Lista de Estudantes Filtrados</h1>
  
    <div class="header">
      <div class="filter">
        <label>
          <select [(ngModel)]="selectedSerie">
            <option value="1º Ano">1º Ano</option>
            <option value="2º Ano">2º Ano</option>
            <option value="3º Ano">3º Ano</option>
            <option value="4º Ano">4º Ano</option>
            <option value="5º Ano">5º Ano</option>
            <option value="6º Ano">6º Ano</option>
            <option value="7º Ano">7º Ano</option>
            <option value="8º Ano">8º Ano</option>
            <option value="9º Ano">9º Ano</option>
          </select>
          <button class="filter-button" (click)="filterStudents(selectedSerie)">Filtrar</button>
        </label>
      </div>
    </div>
  
    <div class="students-container">
      <ul class="students-list">
        <li *ngFor="let student of filteredStudents">
          <div class="student-info">
            <span class="info-nome" (click)="toggleDetails(student.id)">{{ student.nomeCompleto }}</span>
  
            <div *ngIf="expandedStudentId === student.id" class="details">
              <div class="expanded-info">
                <span class="title">Matrícula</span>
                <span class="info">{{ student.matricula }}</span>
                <span class="title">Idade</span>
                <span class="info">{{ student.idade }} anos</span>
                <span class="title">Série</span>
                <span class="info">{{ student.serie }}</span>
              </div>
              <div class="action-buttons">
                <button class="edit-button" (click)="editStudent(student.id)"></button>
                <button class="delete-button" (click)="deleteStudent(student.id)"></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <button class="back-button" (click)="goToList()">Voltar</button>
  